@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  /* background-color: rgb(244, 241, 241); */
  background-color: #e7faf8;
  /* background-image: url('images/lightbg.jpeg'); */
  font-family: 'Poppins', sans-serif;
  color: rgb(57, 57, 57);
  cursor: default;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

.section-heading {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
  padding: 5px;
  font-size: 20px;
}

nav a {
  color: #f5d7db;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.dark a {
  color: rgb(246, 169, 241);
  background-color: rgba(45, 43, 45, 0.217);
}

@media(width<50%){
  #intro-subsection{
  margin-top: 100px;
}
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #473e66;
}

.dark header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
    background: linear-gradient(#000000, #000000, #000000, #000000, transparent);
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  width: 70%;
}

nav a {
  margin-right: 40px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px #333);
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow:
    inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  /* background-color: rgb(57, 57, 57); */
  background-image: url('images/nightsky.jpeg');
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark>* {
  color: rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.main-text {
  flex: 50%;
  padding: 30px;
  /* background-color: transparent; */
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

#download-icon {
  height: 15px;
  width: 15px;
}

.dark #download-icon {
  filter: invert(1);
}

.dark .arrow {
  filter: invert(1);
}


.dark .image-icon {
  filter: invert(1);
}

#instagram {
  background-image: url("images/instagram-app.png");
  background-size: cover;
}

#vocab {
  background-image: url("images/vocab-app.png");
  background-size: cover;
}

#mi {
  background-image: url("images/mi-app.png");
  background-size: cover;
}

#tblog {
  background-image: url("images/tblog-app.png");
  background-size: cover;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.arrow {
  display: flex;
  justify-content: center;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: 100px;
  bottom: 80px;
  background-image: url("images/html-square.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html:before {
  background-color: rgb(189, 154, 221);
}

#html:after {
  background-color: rgb(205, 188, 221);
}

#css {
  left: 330px;
  bottom: 240px;
  background-image: url("images/css-square.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#javascript {
  left: 500px;
  bottom: 200px;
  background-image: url("images/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}


#react {
  left: 450px;
  bottom: 60px;
  background-image: url("images/react-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}

#java {
  left: 180px;
  bottom: 200px;
  background-image: url("images/java-square.png");
  background-size: cover;
  background-color: rgb(227, 162, 119);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#java:before {
  background-color: rgb(221, 188, 154);
}

#java:after {
  background-color: rgb(221, 208, 188);
}

#mysql {
  left: 270px;
  bottom: 40px;
  background-image: url("images/mysql-square.png");
  background-size: cover;
  background-color: rgb(227, 223, 119);
  box-shadow: -70px 70px 20px rgb(50 50 50/ 15%);
}

#mysql:before {
  background-color: rgb(221, 219, 154);
}

#mysql:after {
  background-color: rgb(221, 218, 188);
}

footer {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  padding: 100px 30px;
  background-color: rgb(136, 136, 136);
}

.dark footer {
  background-color: rgb(28, 28, 28);
}

/* @media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
} */

#edu-work-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hor-div-line {
  width: 5px;
  background-color: #00808082;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.edu-card,
.work-card {
  margin: 20px;
  width: 300px;
  padding: 20px;
  background-color: #cdc5e980;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.work-card {
  margin-top: 50px;
}

.edu-card:hover,
.work-card:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
}

h2,
nav a {
  position: relative;
}

nav a:hover,
nav a:focus {
  color: #f5d7db;

}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(39, 38, 38);
  /* Underline color */
  transform-origin: bottom right;
  transform: scaleX(0);
  /* Initially no underline */
  transition: transform 0.3s ease;
  /* filter: drop-shadow(0 0 10px #333); */
}

nav a:hover::before,
nav a:focus::before {
  transform-origin: bottom left;
  transform: scaleX(1);
  /* Full-width underline on hover/focus */
}

#resume-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  display: none;
}

.work-card:hover .info-card {
  display: block;
}

.edu-card:hover .info-card {
  display: block;
}

.footer__text {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-size: x-large;
}

.footer__icons {
  align-self: center;
}

.footer__icon {
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

/* .string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 12s infinite;
  width: max-content;
  align-items: center;
  padding-top: 118px;
} */

/* @keyframes move {
  25% {
    transform: translatey(-8.5vmin);
    opacity: 1;
  }

  50% {
    transform: translatey(-16.5vmin);
  }

  75% {
    transform: translatey(-25.5vmin);
  }
} */

/* .word {
  position: relative;
  font-family: JetBrains Mono, monospace;
  width: max-content;
  color: #C8A458;
  /* top: 8.6vmin; */
  /* animation: white-out 5s infinite;
}  */

/* .closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 90vmin;
  background: #e9f9f6;
  transform: translate(-91vmin, -27.5vmin);
} */

/* .closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 90vmin;
  background: #e9f9f6;
  transform: translate(-91vmin, 2vmin);
} */

/* 
.dark .word {
  position: relative;
  width: max-content;
  color: rgb(255, 255, 255);
  /* top: 8.6vmin; */
/* animation: white-out 5s infinite; */
/* } */
/* 
.dark .closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 90vmin;
  background: #1a1916;
  transform: translate(-91vmin, -27.5vmin);
}

.dark .closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 90vmin;
  background: #1a1916;
  transform: translate(-91vmin, 2vmin);
} */

/* .name__and__info {
  display: flex;
  align-items: center;
  height: fit-content;
} */

/* .name {
  display: flex;
  height: fit-content;
  align-items: center;
} */

/* h3 {
  margin: 0;
  width: max-content;
} */

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #f1916d; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  color: #473e66;
  font-weight: 500;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter{
  width: max-content;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f1916d; }
}

.image{
  flex: 50%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.image_about{ 
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.intro_text{
  font-size: 16px ;
}

.resume_image{
  width: fit-content;
  height: fit-content;
}

.resume-section{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.about_text{

  background-color: #cdc5e980;
  padding: 30px;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-subsection{
  display: flex;
  justify-content: center;
  padding: 0 20px;
  flex-direction: row;
}

.about-subsection > *{
  margin: 5px;
}

.about, .work{
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-icon{
  width: 30px;
  height: 30px;
}

/* ul{
  list-style: 5px 5px url('images/listarrow.png');
} */